<div class="container px-5 px-sm-0 card-list-container py-5">
  <div class="row">
    <div class="col-md-2">
      <h2>検索ページ</h2>
      <%= form_with url: item_buys_search_path, local: true, method: :get do |f| %>
        <%= f.text_field :word, class:"form-group" %><br>
        <%= f.select :search, options_for_select([["完全一致","perfect_match"], ["前方一致","forward_match"],  ["後方一致","backword_match"], ["部分一致","partial_match"]]), class:"form-group" %><br>
        <%= f.select :search, options_for_select([["出品中","sale"], ["売り切れ","purchased"]]) %><br>
        <%= f.submit "検索", class:"btn btn-warning btn-block px-5" %>
      <% end %>
      <h2>ソート検索</h2>
      <%= form_with url: item_buys_sort_path, method: :get, local:true do |f| %>
        <%= f.select :keyword, [['投稿が新しい順', 'new'], ['投稿が古い順', 'old'], ['いいねが多い順', 'likes'], ['いいねが少ない順', 'dislikes'], ['価格が高い順', 'high'], ['価格が低い順', 'low']] %>
        <%= f.submit "ソートを変える", class:"btn btn-success center-block" %>
      <% end %>
    </div>
    <div class="col-md-8 offsset-md-1">
      <div class="flex-container">
        <% @items.each do |item| %>
          <div class="card col-lg-4 col-md-2 mb-4">
            <div style="text-align: center">
              <%= link_to item_buy_path(item), class:"text-dark" do %>
                <%= attachment_image_tag item, :image, :fill, 200, 200 %>
              <% end %><br>
              <strong><span><%= item.name %></span></strong><br>
              <span><%= number_to_currency(item.price) %></span><br>
              <% if item.order_status == 'sale' %>
                <%= item.order_status_i18n %>
              <% else item.order_status == 'purchased' %>
                <%= item.order_status_i18n %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
