
<div class="container px-5 px-sm-0 card-list-container py-5">
  <%# if @sell.errors.any? %>
  <!--  <div>-->
  <!--    <ul style="color: red">-->
  <!--      <%#= @sell.errors.count %>errors prohibited this obj from being saved<br>-->
  <!--        <%# @sell.errors.full_messages.each do |message| %><br>-->
  <!--        <%#= message %>-->
  <!--      <%# end %>-->
  <!--    </ul>-->
  <!--  </div>-->
  <!--<%# end %>-->
  <div class="row">
    <div class="col-md-2">
      <h2>カテゴリー</h2>

    </div>
    <div class="col-md-8 offset-md-1">
      <div class="flex-container">
        <% @items.each do |item| %>
          <div class="card flex-item">
            <div>
              <%= attachment_image_tag item, :image, :fill, 200, 200 %>
              <% if item == current_customer %>
                <%= link_to item_sell_path(item), class:"text-dark" do %>
                  <strong><i class="far fa-flag"></i><span><%= item.name %></span></strong>
                <% end %>
              <% else %>
                <%= link_to item_buy_path(item), class:"text-dark" do %>
                  <strong><i class="far fa-flag"></i><span><%= item.name %></span></strong>
                <% end %>
              <% end %><br>
              <span><i class="fas fa-yen-sign"></i></i> <%= item.price%>円  </span><br>
              <i class="far fa-thumbs-up"></i>
              <% if item.order_status == 'sale' %>
                <%= item.order_status_i18n %>
              <% else item.order_status == 'purchased' %>
                <%= item.order_status_i18n %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <%#= paginate sells %>
  </div>
</div>
