
<div class="container px-5 px-sm-0 card-list-container py-5">
  <%# if @sell.errors.any? %>
  <!--  <div>-->
      <ul style="color: red">
        <%#= @sell.errors.count %>errors prohibited this obj from being saved<br>
          <%# @sell.errors.full_messages.each do |message| %><br>
          <%#= message %>
        <%# end %>
      </ul>
  <!--  </div>-->
  <!--<%# end %>-->
  <div class="row">
    <div class="col-md-2">
      <h2>カテゴリー</h2>
      <%= form_with model: @item, local: :true do |f| %>
        <%= f.select :category_id, Category.all.map{ |cate| [cate.name,cate.id]} %>
      <% end %>
    </div>
    <div class="col-md-8 offset-md-1">
      <div class="flex-container">
        <% @items.each do |item| %>
          <div class="card flex-item">
            <div>
              <%= attachment_image_tag item, :image, :fill, 200, 200 %>
              <strong><i class="far fa-flag"></i><span><%= item.name %></span></strong>
              <span><i class="fas fa-yen-sign"></i></i> <%= item.price%>円 ｜ </span>
              <i class="far fa-thumbs-up"></i>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <%#= paginate sells %>
  </div>
</div>
