
<div class="container px-5 px-sm-0 card-list-container py-5">
  <div class="row">
    <div class="col-md-12 offset-md-1">
      <h2>出品商品一覧</h2>
      <table class="item-sell-table">
        <thead>
          <tr>
            <th></th>
            <th>商品名</th>
            <th>ステータス</th>
            <th colspan="3"></th>
          </tr>
        </thead>
        <tbody>
          <tr><% @items.each do |item| %></tr>
            <td><%= attachment_image_tag item, :image, size: "70x70" %></td>
            <td><%= item.name %></td>
            <td>
              <% if item.order_status == 'sale' %>
                <%= item.order_status_i18n %>
              <% else item.order_status == 'purchased' %>
                <%= item.order_status_i18n %>
              <% end %>
            </td>
            <td><%= link_to '詳細を見る', item_buy_path(item), class: "btn btn-success" %></td>
          <tr><% end %></tr>
        </tbody>
      </table>
    </div>
    <%#= paginate sells %>
  </div>
</div>
