
<div class="container px-5 px-sm-0 card-list-container py-5">
  <div class="row">
    <div class="col-md-2">
      <h2>カテゴリー</h2>
      <%= form_with model: @item, local: :true do |f| %>
        <%= f.select :category_id, Category.all.map{ |cate| [cate.name,cate.id]} %>
      <% end %>
    </div>
    <div class="col-md-8 offset-md-1">
       <table class="table table-hover table-inverse">
        <thead>
          <tr>
            <th>image</th>
            <th>name</th>
            <th colspan="3"></th>
          </tr>
        </thead>
        <tbody>
          <tr><% @items.each do |item| %></tr>
            <th><%= attachment_image_tag item, :image, size: "70x70" %></th>
            <th><%= item.name %></th>
            <th><%= link_to 'Show', item_buy_path(item) %></th>
          <tr><% end %></tr>
        </tbody>
      </table>
    </div>
    <%#= paginate sells %>
  </div>
</div>
