
<div class="container p-5 px-sm-0 py-5">
  <% if @item.errors.any? %>
  <ul style="color: red">
    <%= @item.errors.count %>件のエラーが発生しました
    <% @item.errors.full_messages.each do |message| %>
      <%= message %>
    <% end %>
  </ul>
  <% end %>
  <%= form_with model: @item, url: item_sells_path, local: :true do |f| %>
    <h2>出品物登録画面</h2>
    <div class="row" style="font-size: 20px;">
      <div class="col-md-3">
        <%= f.label "商品画像", class:"form-group" %><br>
        <%= f.label "商品名", class:"form-group" %><br>
        <%= f.label "商品説明文", class:"form-group" %><br>
        <%= f.label "商品価格", class:"form-group" %><br>
        <%= f.label "カテゴリー", class:"form-group" %>
      </div>
      <div class="col-md-9">
        <%= f.attachment_field :image %><br>
        <%= f.text_field :name, class:"form-group", autofocus: true, autocomplete: "name" %><br>
        <%= f.text_field :introduction, size: "50", class:"form-group", autofocus: true, autocomplete: "introduction" %><br>
        <%= f.text_field :price, class:"form-group", autofocus: true, autocomplete: "price" %><br>
        <%= f.select :category_id, Category.all.map{ |cate| [cate.name,cate.id]} %>
      </div>
    </div>
    <div align="center">
      <% if @home_item %>
        <%= f.hidden_field :item_home_id, :value => @home_item.id %>
      <% end %>
      <%= f.submit "出品する", class: "btn btn-success btn-lg center-block" %>
    </div>
  <% end %>
</div>