
<div class="container p-5 px-sm-0 py-5">
  <% if @item.errors.any? %>
  <ul style="color: red">
    <%= @item.errors.count %>件のエラーが発生しました
    <% @item.errors.full_messages.each do |message| %>
      <%= message %>
    <% end %>
  </ul>
  <% end %>
  <%= form_with model: @item, url: item_sells_path, local: :true do |f| %>
    <h2>出品物登録</h2>
    <div class="row">
      <table class="customer-table" style="font-size: 20px;">
        <thead>
          <tr>
            <th>商品画像</th>
            <td><%= f.attachment_field :image %></td>
          </tr>
          <tr>
            <th>商品名</th>
            <td><%= f.text_field :name, size: "47", class:"form-group", autofocus: true, a
          </tr>
           <tr>
            <th>商品説明文</th>
            <td><%= f.text_area :introduction, size: "50", class:"form-group", autofocus: true, autocomplete: "introduction" %></td>
          </tr>
          <tr>
            <th>商品価格</th>
            <td><%= f.text_field :price, size: "47", class:"form-group", autofocus: true, autocomplete: "price" %></td>
          </tr>
           <tr>
            <th>カテゴリー</th>
            <td><%= f.select :category_id, Category.all.map{ |cate| [cate.name,cate.id]} %></td>
          </tr>
        </thead>
      </table>
    </div>
    <div align="center">
      <% if @home_item %>
        <%= f.hidden_field :item_home_id, :value => @home_item.id %>
      <% end %>
      <%= f.submit "出品する", class: "btn btn-success btn-lg center-block" %>
    </div>
  <% end %>
</div>