<h1>マイページ</h1>


<div class="col-5 ml-3">
  <h3>登録情報</h3>
  <%= link_to '編集する', edit_customer_path(@customer), class:"btn btn-success btn-lg center-block" %>
  <h1 class="my-3 ml-3"></h1>
  <table border="3" bordercolor="black" class="table table-sm" >
    <tr>
      <td>氏名</td>
      <td><%= @customer.last_name %><%= @customer.first_name %></td>
    </tr>
    <tr>
      <td>カナ</td>
      <td><%= @customer.last_name_kana %><%= @customer.first_name_kana %></td>
    </tr>
    <tr>
      <td>郵便番号</td>
      <td><%= @customer.postal_code %></td>
    </tr>
    <tr>
      <td>住所</td>
      <td><%= @customer.address %></td>
    </tr>
    <tr>
      <td>電話番号</td>
      <td><%= @customer.telephone_number %></td>
    </tr>
    <tr>
      <td>メールアドレス</td>
      <td><%= @customer.email %></td>
    </tr>
  </table>
  <table>
    <tr>配送先</tr>　　　<tr><%= link_to '一覧を見る', addresses_path, class:"btn btn-success btn-lg center-block" %></tr><br>
    <tr>注文履歴</tr>　　<tr><%= link_to '一覧を見る', orders_path, class:"btn btn-success btn-lg center-block" %></tr>
  </table>
</div>