<div class="container px-5 px-sm-0 py-5">
  <div row>
    <div col-12>
      <table class="customer-table" style="font-size: 20px; width: 100%">
        <h1>マイページ</h1>
        <h3>登録情報</h3>
        <tr>
          <th>氏名</th>
          <td><%= @customer.last_name %><%= @customer.first_name %></td>
        </tr>
        <tr>
          <th>カナ</th>
          <td><%= @customer.last_name_kana %><%= @customer.first_name_kana %></td>
        </tr>
        <tr>
          <th>郵便番号</th>
          <td>〒<%= @customer.postal_code %></td>
        </tr>
        <tr>
          <th>住所</th>
          <td><%= @customer.address %></td>
        </tr>
        <tr>
          <th>電話番号</th>
          <td><%= @customer.telephone_number %></td>
        </tr>
        <tr>
          <th>メールアドレス</th>
          <td><%= @customer.email %></td>
        </tr>
        <tr>
          <th></th>
          <td><%= link_to 'プロフィールを編集する', edit_customer_path(@customer), class:"btn btn-success btn-lg center-block" %></td>
        </tr>
        <tr>
          <th></th>
          <td><%= link_to '配送先一覧を見る', addresses_path, class:"btn btn-success btn-lg center-block" %></td>
        </tr>
        <tr>
          <th></th>
          <td>
            <% if @customer.orders.present? %>
              <%= link_to '購入商品履歴一覧を見る', orders_path, class:"btn btn-success btn-lg center-block" %>
            <% else %>
              購入商品はありません
            <% end %>
          </td>
        </tr>
        <tr>
          <th></th>
          <td>
            <% if @customer.items.present? %>
              <%= link_to '出品した商品を確認する', item_sells_path, class:"btn btn-success btn-lg center-block" %>
            <% else %>
              出品商品はありません
            <% end %>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>