<div class="container px-sm-0 py-5">
  <% if @order.errors.any? %>
    <ul style="color: red">
      <%= @order.errors.count %>件のエラーが発生しました
      <% @order.errors.full_messages.each do |message| %>
        <%= message %>
      <% end %>
    </ul>
  <% end %>

  <div class="row">
    <h2>注文情報入力</h2>
    <%= form_with model: @order, url: orders_confirm_path(sell_id: @item_id), local:true do |f| %>
      <div class="col-3"></div>
      <div>
        <table class="orders-table" border="3" bordercolor="black" style="font-size: 20px;", align="center">
          <thead>
            <tr>
              <th>支払方法</th>
            </tr>
            <tr>
              <td>
                <%= f.radio_button :payment_method, "credit_card" %>
                <%= f.label :payment_method, "クレジットカード" %>
              </td><br>
           </tr>
           <tr>
              <td>
                <%= f.radio_button :payment_method, "transfer" %>
                <%= f.label :payment_method, "銀行振込" %>
              </td>
            </tr>
          </thead>
        </table>
      </div>
      <div>
        <table class="orders-table" border="3" bordercolor="black" style="font-size: 20px;", align="center">
          <thead>
            <tr>
              <th>お届け先</th>
            </tr>
            <tr>
              <td>
                <%= f.radio_button :address_option, "current_customer_address" %>
                <%= f.label :address, "ご自身の住所" %><br>
                〒<%= current_customer.postal_code %><br>
                <%= current_customer.address %><br>
                <%= current_customer.last_name %>　<%= current_customer.first_name %>
              </td>
            </tr>
            <tr>
              <td>
                <%= f.radio_button :address_option, "registered_address" %>
                <%= f.label :address, "登録済みの住所から選択" %><br>
                <%= f.collection_select(:address_id, @addresses, :id, :address_detail, prompt: "選択してください") %>
              </td>
            </tr>
            <tr>
              <td>
                <%= f.radio_button :address_option, "new_address" %>
                <%= f.label :address, "新しいお届け先" %><br>
                郵便番号<%= f.text_field :new_postal_code, autofocus: true, autocomplete: "postal_code" %><br>
                住所　　<%= f.text_field :new_address, autofocus: true, autocomplete: "address", include_blank: '都道府県' %><br>
                宛名　　<%= f.text_field :new_name, autofocus: true, autocomplete: "name" %>
              </td>
            </tr>
          </thead>
        </table>
        <div class="col-3"></div>
        <div align="center">
          <%= f.submit "確認画面へ進む", class: "btn btn-success btn-lg" %>
        </div>
      </div>
    <% end %>
  </div>
</div>