<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-5">
      <h2>購入履歴詳細</h2>
      <%= attachment_image_tag @order.item, :image, :fill, 400, 400 %>
    </div>
    <div class="col-md-7">
      <h1>購入情報</h1>
      <table class=item-buy-table style="font-size: 20px;">
        <tr>
          <th>商品名</th>
          <td><%= @order.item.name %></td>
        </tr>
         <tr>
          <th>商品金額</th>
          <td><%= number_to_currency(@order.item.price) %></td>
        </tr>
        <tr>
          <th>出品者名</th>
          <td><%= @order.item.customer.last_name %><%= @order.item.customer.first_name %></td>
        </tr>
        <tr>
          <th>配送先</th>
          <td>〒<%= @order.customer.postal_code %><br><%= @order.customer.address %><br><%= @order.name %></td>
        </tr>
        <tr>
          <th>支払方法</th>
          <td><%= @order.payment_method_i18n %></td>
        </tr>
        <tr>
          <th>購入日</th>
          <td><%= @order.created_at.strftime("%Y年%m月%d日%H時%M分") %></td>
        </tr>
      </table>
    </div>
  </div>
</div>
