<div class="container p-5 py-5">
  <h2>配送先登録/一覧</h2>
  <% if @address.errors.any? %>
  <ul style="color: red">
    <%= @address.errors.count %>件のエラーが発生しました
    <% @address.errors.full_messages.each do |message| %>
      <%= message %>
    <% end %>
  </ul>
  <% end %>
  <%= form_with model: @address, url: address_path(@address), local:true do |f| %>
    <div class="row">
   　  <div class="col-3">
        <%= f.label "郵便番号", class:"form-group" %><br>
        <%= f.label "住所", class:"form-group" %><br>
        <%= f.label "宛名", class:"form-group" %><br>
      </div>
      <div class="col-5">
        <%= f.text_field :postal_code, autofocus: true, autocomplete: "postal_code", class:"form-group" %><br>
        <%= f.text_field :address, size: "50", autofocus: true, autocomplete: "address", include_blank: '都道府県', class:"form-group" %><br>
        <%= f.text_field :name, autofocus: true, autocomplete: "name", class:"form-group" %><br>
      </div>
    </div>
    <%= f.submit "編集する", class: "btn btn-success btn-lg center-block" %>
  <% end %>
</div>