<div class="container p-5 px-sm-0 card-list-container py-5">
  <h2>配送先登録/一覧</h2>
  <div class="row">
    <div class="col-md-5">
      <%= form_with model: @address, url: addresses_path, local:true do |f| %>
      　<div>
          <%= f.label :postal_code, "郵便番号" %>　　　　　　　　　　<%= f.text_field :postal_code, autofocus: true, autocomplete: "postal_code" %>
        </div><br>
        <div>
          <%= f.label :address, "住所" %>　　　　　　　　　　　　<%= f.text_field :address, autofocus: true, autocomplete: "address", include_blank: '都道府県' %>
        </div><br>
        <div>
          <%= f.label :name, "宛名　　　　　　　　　　　　 " %><%= f.text_field :name, autofocus: true, autocomplete: "name" %>
        </div><br>
        <%= f.submit "新規登録", class: "btn btn-success btn-lg center-block" %>
      <% end %>
    </div>
    <div class="col-md-7">
      <table border="3" bordercolor="white" class="table-hover table-sm">
        <tr>
          <b><th>郵便番号</th></b>
          <b><th>住所</th></b>
          <b><th>宛名</th></b>
          <th></th>
        </tr>
        <tr><% @addresses.each do |address| %></tr>
          <th><%= address.postal_code %></th>
          <th><%= address.address %></th>
          <th><%= address.name %></th>
          <th>
            <%= link_to "削除する", address_path(address), method: :delete, data:{confirm: "削除しますか？"}, class:"btn  btn-danger destroy_book_id" %>
            <%= link_to "編集する", edit_address_path(address), class:"btn btn-success  center-block" %>
          </th>
        <tr><% end %></tr>
      </table>
    </div>
  </div>
</div>