<div class="container px-5 px-sm-0 card-list-container py-5">
  <div class="row">
    <div class="col-md-8 offset-md-1">
      <h2>検索結果</h2>
      <div class="flex-container">
        <table class="table table-hover table-inverse">
          <% if @range == "ItemHome" %>
            <thead>
              <tr>
                <th>名前</th>
                <th>置き場所</th>
                <th colspan="1"></th>
              </tr>
            </thead>
            <tbody>
              <% @homes.each do |home| %>
                <tr>
                  <td><%= attachment_image_tag home, :image, :fill, 60, 60 %><%= home.name %></td>
                  <td><%= home.place_to_put %></td>
                  <td>
                    <%= link_to item_home_path(home), class:"btn btn-success center-block" do %>
                      <span><%= home.name %>の詳細を確認する</span>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          <% else %>
            <tbody>
              <% @items.each do |item| %>
                <div class="card col-lg-4 col-md-2 mb-4">
                  <div style="text-align: center">
                    <%= link_to item_buy_path(item), class:"text-dark" do %>
                      <%= attachment_image_tag item, :image, :fill, 200, 200 %>
                    <% end %><br>
                    <strong><span><%= item.name %></span></strong><br>
                    <span>￥<%= item.price%>円</span><br>
                    <% if item.order_status == 'sale' %>
                      <%= item.order_status_i18n %>
                    <% else item.order_status == 'purchased' %>
                      <%= item.order_status_i18n %>
                    <% end %>
                  </div>
                </div>
              <% end %>
            </tbody>
          <% end %>
        </table>
      </div>
    </div>
  </div>
</div>