
 <div class="container px-sm-0 card-list-container py-5">
  <div class="row">
    <div class="col-md-3">
      <div class="sticky">
        <h2>ジ</h2>
        <%= form_with url: item_homes_search_path, local: true, method: :get do |f| %>
          <%= f.text_field :word, class:"form-group" %><br>
          <%= f.select :search, options_for_select([["完全一致","perfect_match"], ["前方一致","forward_match"], ["後方一致","backword_match"], ["部分一致","partial_match"], ["置き場所","place_to_put"]]) %><br>
          <%= f.submit "検索", class:"btn btn-success center-block btn-block px-5" %>
        <% end %>
        <h2></h2>
        <h2>ソート検索</h2>
        <%= form_with url: item_homes_sort_path, method: :get, local:true do |f| %>
          <%= f.select :keyword, [ ['投稿が新しい順', 'new'], ['投稿が古い順', 'old']] %>
          <%= f.submit "ソートを変える", class:"btn btn-success center-block btn-block px-5" %>
        <% end %>
        <h2></h2>
        <h2>カテゴリー検索</h2>
        <%= search_form_for @q, url: item_homes_category_path do |f| %>
          <%= f.collection_select :category_id_eq, Category.where(ancestry: nil), :id, :name, include_blank: "カテゴリー検索", class:"form-group" %>
          <%= f.submit 'カテゴリー検索', class:"btn btn-success center-block btn-block px-5"%>
        <% end %>
      </div>
    </div>
    <div class="col-md-8">
      <%= link_to '家庭用品を登録する', new_item_home_path, class:"btn btn-success btn-lg center-block" %>
      <table class="table table-hover table-inverse">
        <thead style="font-size: 20px; width: 100%">
          <tr>
            <th></th>
            <th>名前</th>
            <th>置き場所</th>
            <th colspan="1"></th>
          </tr>
        </thead>
        <tbody>
          <% homes.each do |home| %>
            <tr>
              <td><%= attachment_image_tag home, :image, :fill, 60, 60 %></td>
              <td><%= home.name %></td>
              <td><%= home.place_to_put %></td>
              <td>
                <%= link_to item_home_path(home), class:"btn btn-success center-block" do %>
                  <span><%= home.name %>の詳細を確認する</span>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>