<div class="container px-5 px-sm-0 py-5">
  <%= form_with model: @home, local: :true do |f| %>
    <h2>家庭用品編集</h2>
    <div class="row">
       <table class="customer-table" style="font-size: 20px;">
        <thead>
          <tr>
            <th>家庭用品画像</th>
            <td><%= f.attachment_field :image %></td>
          </tr>
          <tr>
            <th>家庭用品名</th>
            <td><%= f.text_field :name, size: "47", class:"form-group", autofocus: true, autocomplete: "name" %></td>
          </tr>
           <tr>
            <th>用品メモ</th>
            <td><%= f.text_area :introduction, size: "50", class:"form-group", autofocus: true, autocomplete: "introduction" %></td>
          </tr>
          <tr>
            <th>家庭用品置き場所</th>
            <td><%= f.text_field :place_to_put, size: "47", class:"form-group", autofocus: true, autocomplete: "place_to_put" %></td>
          </tr>
           <tr>
            <th>家庭用品カテゴリー</th>
            <td><%= f.select :category_id, Category.all.map{ |cate| [cate.name,cate.id]} %></td>
          </tr>
        </thead>
      </table>
    </div>
    <div align="center">
      <%= f.submit "編集を保存する", class: "btn btn-success btn-lg" %>
    </div>
  <% end %>
</div>