<h2>家庭用品編集画面</h2>
<div class="container px-5 px-sm-0 card-list-container py-5">
  <%= form_with model: @home,  url: item_home_path(@home), local: :true do |f| %>
    <div class="row">
      <div class="col-md-3">
        <%= f.label "家庭用品画像", class:"form-group" %><br>
        <%= f.label "家庭用品名", class:"form-group" %><br>
        <%= f.label "家庭用品説明文", class:"form-group" %><br>
        <%= f.label "家庭用品置き場所", class:"form-group" %>
      </div>
      <div class="col-md-9">
        <%= f.attachment_field :image %><br>
        <%= f.text_field :name, class:"form-group", autofocus: true, autocomplete: "name" %><br>
        <%= f.text_field :introduction, class:"form-group", autofocus: true, autocomplete: "introduction" %><br>
        <%= f.text_field :place_to_put, class:"form-group", autofocus: true, autocomplete: "place_to_put" %>
      </div>
    </div>
    <div class="actions">
      <%= f.submit "編集する", class: "btn btn-success btn-lg center-block" %>
    </div>
  <% end %>
</div>