<h2>家庭用品登録画面</h2>
<% if @home.errors.any? %>
  <ul style="color: red">
    <%= @home.errors.count %>件のエラーが発生しました
    <% @home.errors.full_messages.each do |message| %>
      <%= message %>
    <% end %>
  </ul>
<% end %>
<div class="container px-5 px-sm-0 card-list-container py-5">
  <%= form_with model: @home, url: item_homes_path, local: :true do |f| %>
    <!--<div class="form-group">-->
    <!--  <div class='form-text-wrap'>-->
    <!--    <label class="form-text">番地</label>-->
    <!--    <span class="indispensable">必須</span>-->
    <!--  </div>-->
    <!--  <%#= f.text_field :name, class:"input-default", placeholder:"例）青山1-1-1"%>-->
    <!--</div>-->
    <div class="row">
      <div class="col-md-3">
        <%= f.label "家庭用品画像", class:"form-group" %><br>
        <%= f.label "家庭用品名", class:"form-group" %><br>
        <%= f.label "家庭用品説明文", class:"form-group" %><br>
        <%= f.label "家庭用品置き場所", class:"form-group" %><br>
        <%= f.label "家庭用品カテゴリー", class:"form-group" %>
      </div>
      <div class="col-md-9">
        <%= f.attachment_field :image %><br>
        <%= f.text_field :name, class:"form-group", autofocus: true, autocomplete: "name" %><br>
        <%= f.text_field :introduction, class:"form-group", autofocus: true, autocomplete: "introduction" %><br>
        <%= f.text_field :place_to_put, class:"form-group", autofocus: true, autocomplete: "place_to_put" %><br>
        <%= f.select :category_id, Category.all.map{ |cate| [cate.name,cate.id]} %>
      </div>
    </div>
    <div class="actions">
      <%= f.submit "登録する", class: "btn btn-success btn-lg center-block" %>
    </div>
  <% end %>
</div>