<% if @home.errors.any? %>
  <ul style="color: red">
    <%= @home.errors.count %>件のエラーが発生しました
    <% @home.errors.full_messages.each do |message| %>
      <%= message %>
    <% end %>
  </ul>
<% end %>
<div class="container px-5 px-sm-0  py-5">
  <%= form_with model: @home, url: item_homes_path, local: :true do |f| %>
    <h2>家庭用品登録</h2>
    <div class="row">
      <table class="customer-table" style="font-size: 20px;">
        <thead>
          <tr>
            <th>家庭用品画像</th>
            <td><%= f.attachment_field :image %></td>
          </tr>
          <tr>
            <th>家庭用品名</th>
            <td><%= f.text_field :name, size: "47", class:"form-group", autofocus: true, autocomplete: "name" %></td>
          </tr>
           <tr>
            <th>家庭用品説明文</th>
            <td><%= f.text_area :introduction, size: "50", class:"form-group", autofocus: true, autocomplete: "introduction" %></td>
          </tr>
          <tr>
            <th>家庭用品置き場所</th>
            <td><%= f.text_field :place_to_put, size: "47", class:"form-group", autofocus: true, autocomplete: "place_to_put" %></td>
          </tr>
           <tr>
            <th>カテゴリー</th>
            <td><%= f.select :category_id, Category.all.map{ |cate| [cate.name,cate.id]} %></td>
          </tr>
        </thead>
      </table>
    </div>
    <div align="center">
      <%= f.submit "登録する", class: "btn btn-success btn-lg center-block" %>
    </div>
  <% end %>
</div>