<h1>ソート検索結果</h1>

<%= form_with url: item_homes_sort_path, method: :get, local: true do |form| %>
  <%= form.select :keyword, [ ['投稿が新しい順', 'new'], ['投稿が古い順', 'old'],], class:"form-group" %><br>
  <%= form.submit " ソートを変える", class:"btn btn-success  center-block form-group" %>
<% end %>

<table class="table table-hover table-inverse">
  <thead>
    <tr>
      <th>名前</th>
      <th>置き場所</th>
      <th colspan="1"></th>
    </tr>
  </thead>
  <tbody>
    <% @homes.each do |home| %>
      <tr>
        <td><%= attachment_image_tag home, :image, :fill, 60, 60 %><%= home.name %></td>
        <td><%= home.place_to_put %></td>
        <td>
          <%= link_to item_home_path(home), class:"btn btn-success center-block" do %>
            <span><%= home.name %>の詳細を確認する</span>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>